<%- include("partials/header") %>
    <h1>Characters</h1>
    <section>
        <form action="/characters" method="get">
            <label for="search">Search for a name:</label>
            <input type="text" id="search" name="q" value="<%= q %>">
    
            <label for="sortField">Sort by:</label>
            <select name="sortField">
                <option value="Names">Name</option>
            </select>
    
            <label for="sortDirection">Sort direction:</label>
            <select name="sortDirection">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
    
            <button type="submit">Apply</button>
        </form>
    </section>
    <% characters.forEach(character => { %>
    <section class="display">
        <article>
            <a href="/characters/<%= character.ID %>">
                <h2><%= character.Names %></h2>
                <img src="<%= character.imageUrl %>" alt="Image of <%= character.Names %>" style="width:300px; height:auto;">
            </a>
        </article>
    </section>
<% }); %>
<%- include("partials/footer") %>
