<%- include("partials/header") %>
    <section>
        <article>
            <h1><%= character.Names %></h1>
            <img src="<%= character.imageUrl %>" alt="Image of <%= character.Names %>" style="width:300px;">
            <p><strong>ID:</strong><br><%= character.ID %></p>
            <p><strong>Age:</strong><br><%= character.Age %></p>
            <p><strong>Birthday:</strong><br><%= character.Birthday %></p>
            <p><strong>Alive:</strong><br><%= character.isAlive ? 'Yes' : 'No' %></p>
            <p><strong>Description:</strong><br><%= character.Description %></p>
            <p><strong>Abilities:</strong><br><%= character.abilities.join(', ') %></p>
            <p><strong>Element:</strong><br><%= character.Elements %></p>
            <p><strong>Weapon:</strong><br><h3><a href="/weapons-detail/<%= character.Weapons.weapon_id %>"><%= character.Weapons.weapon_name %></a></h3></p>
        </article>
    </section>
<%- include("partials/footer") %>
