<%- include("partials/header") %>
    <h1><%= character.Names %></h1>
    <section>
        <article>
            <img src="<%= character.imageUrl %>" alt="Image of <%= character.Names %>" style="width:200px;">
            <p><strong>ID:</strong> <%= character.ID %></p>
            <p><strong>Age:</strong> <%= character.Age %></p>
            <p><strong>Birthday:</strong> <%= character.Birthday %></p>
            <p><strong>Alive:</strong> <%= character.isAlive ? 'Yes' : 'No' %></p>
            <p><strong>Description:</strong> <%= character.Description %></p>
            <p><strong>Abilities:</strong> <%= character.abilities.join(', ') %></p>
            <p><strong>Element:</strong> <%= character.Elements %></p>
            <h3>Weapon</h3>
            <p> <a href="/weapons-detail/<%= character.Weapons.weapon_id %>"><%= character.Weapons.weapon_name %></a></p>
        </article>
    </section>
    <%- include("partials/footer") %>
