<%- include("partials/header") %>
<h1><%= weapon.weapon_name %></h1>
<section>
    <article>
        <img src="<%= Weapon.imageUrl %>" alt="Image of <%= Weapon.weapon_name %>" style="width:200px;">
        <p>ID: <%= weapon.weapon_id %></p>
        <p>Power: <%= weapon.weapon_power %></p>
        <p>Origin: <%= weapon.Origin %></p>
        <p>Description: <%= weapon.description %></p>
        <p>Downside: <%= weapon.downside %></p>
    </article>
</section>
<%- include("partials/footer") %>