<%- include("partials/header") %>
<h1><%= weapon.weapon_name %></h1>
<p>ID: <%= weapon.weapon_id %></p>
<p>Power: <%= weapon.weapon_power %></p>
<p>Origin: <%= weapon.Origin %></p>
<p>Description: <%= weapon.description %></p>
<p>Downside: <%= weapon.downside %></p>
<%- include("partials/footer") %>